<!DOCTYPE html>

<html>

<head>
    <link rel="stylesheet" href="/css/style.css">
</head>

<body>
    <div class="main-content">
        {{>header}}
        <H3>About Me</H3>
        <img src="imgSrc/pic.jpg" height="400" width="350">
        <p id="intro">Hey This Is Mukesh Kumar Bagariya.And I'm a Full Stack Web Developer As Well As Android Developer. I have serious passion for UI effects, animations and creating intuitive, dynamic user experiences. And I Have Tons Of Android Projects And I worked For 2 Startup Projects And A Well setteled Company Named IncubatIND</p>
    </div>
    {{>footer}}
</body>

</html>